{{ define "main" }}
<div class="lp-home">
  <div class="container">
    <div class="main">
      <h1 class="heading">
        <span class="name clip">{{ .Params.title }}</span>
        <span class="text">{{ .Params.headline1 }} {{ .Params.headline2 }}</span>
      </h1>
      <p class="tagline">{{ .Params.subheadline }}</p>
    </div>
    <div class="image">
      <div class="image-container">
        <div class="image-bg"></div>
        <img class="image-src" src="{{ .Params.hero_image | default "images/base.svg" | relURL }}"
          alt="{{ .Params.title }}" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="actions">
      {{ range .Params.actions }}
      <div class="action medium {{ .type | default " alt" }}">
        <a href="{{ .link }}">{{ .label }}</a>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="container">
    <p class="definition">
      {{ .Params.intro1 }} {{ .Params.intro2 }} {{ .Params.intro3 }}
    </p>
  </div>

  <div class="container">
    <div class="lp-features">
      {{ range .Params.benefits }}
      <div class="lp-feature-card">
        <h3>{{ .emoji }} {{ .title }}</h3>
        <p>{{ .description }}</p>
      </div>
      {{ end }}
    </div>
  </div>

</div>
{{ end }}