{{ define "main" }}
<div class="lp-home">
  <div class="container">
    <div class="main">
      <h1 class="heading">
        <span class="name clip">{{ .Params.title }}</span>
        <span class="text">{{ .Params.headline1 }} {{ .Params.headline2 }}</span>
      </h1>
      <p class="tagline">{{ .Params.subheadline }}</p>
    </div>
    <div class="image">
      <div class="image-container">
        <div class="image-bg"></div>
        <img class="image-src" src="{{ .Params.hero_image | default " images/base.svg" | relURL }}"
          alt="{{ .Params.title }}" />
      </div>
    </div>
  </div>

  <div class="container section-container">
    <h2 class="section-title">{{ .Params.how_ocm_works_title }}</h2>
  </div>
  
  <div class="container">
    <div class="actions-grid">
      {{ range .Params.actions }}
      <a href="{{ .link | relURL }}" class="action-card">
        <div class="action-card-content">
          <div class="action-card-header">
            <span class="action-emoji">{{ .emoji }}</span>
            <h3 class="action-title">{{ .label }}</h3>
          </div>
          <p class="action-description">{{ .description }}</p>
        </div>
      </a>
      {{ end }}
    </div>
  </div>

  <div class="container section-container">
    <h2 class="section-title">{{ .Params.why_choose_title }}</h2>
  </div>
  
  <div class="container">
    <div class="lp-features">
      {{ range .Params.benefits }}
      {{ if .link }}
      <a href="{{ .link | relURL }}" class="lp-feature-card">
        <h3 class="card-header">
          <span class="emoji">{{ .emoji }}</span>
          <span class="separator">|</span>
          <span class="title">{{ .title }}</span>
        </h3>
        <p>{{ .description }}</p>
      </a>
      {{ else }}
      <div class="lp-feature-card">
        <h3 class="card-header">
          <span class="emoji">{{ .emoji }}</span>
          <span class="separator">|</span>
          <span class="title">{{ .title }}</span>
        </h3>
        <p>{{ .description }}</p>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>

</div>
{{ end }}
